absl-py @ file:///croot/absl-py_1686852429912/work
actionlib==1.14.0
aiohttp @ file:///work/ci_py311/aiohttp_1676827623103/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
angles==1.9.13
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.3
async-timeout @ file:///work/ci_py311/async-timeout_1676826962453/work
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.4
bondpy==1.8.6
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2020.6.20
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///work/ci_py311/click_1676825163161/work
comm==0.1.3
contextlib2==21.6.0
contourpy==1.1.0
controller-manager==0.19.6
controller-manager-msgs==0.19.6
controller-manager-tests==0.19.6
cryptography @ file:///croot/cryptography_1689373676338/work
cv-bridge==1.16.2
cycler==0.11.0
Cython==3.0.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
docutils==0.20.1
dynamic-reconfigure==1.7.3
executing==1.2.0
fastjsonschema==2.18.0
flatbuffers @ file:///home/ktietz/cip/python-flatbuffers_1634039120618/work
fonttools==4.41.1
fqdn==1.5.1
frozenlist @ file:///work/ci_py311/frozenlist_1676825229010/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///work/ci_py311_2/google-auth-oauthlib_1679340681059/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
grpcio @ file:///croot/grpc-suite_1681912592597/work
h5py @ file:///work/ci_py311/h5py_1676904017107/work
idna @ file:///work/ci_py311/idna_1676822698822/work
image-geometry==1.16.2
importlib-metadata==6.8.0
interactive-markers==1.12.0
ipykernel==6.25.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.7
isoduration==20.11.0
jaraco.classes==3.3.0
jax==0.4.13
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
json5==0.9.14
jsonpointer==2.4
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
keras @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/keras_1682445665871/work/keras-2.12.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keyring==24.2.0
kiwisolver==1.4.4
laser_geometry==1.6.7
libclang==16.0.6
lxml==4.9.3
Markdown @ file:///work/ci_py311/markdown_1676837083112/work
markdown-it-py==3.0.0
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
message-filters==1.16.0
mistune==3.0.1
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
ml-dtypes==0.2.0
more-itertools==10.0.0
moveit-commander==1.1.13
moveit-core==1.1.13
moveit-python==0.4.5
moveit-ros-planning-interface==1.1.13
moveit-ros-visualization==1.1.13
moveit-task-constructor-core==0.1.3
multidict @ file:///work/ci_py311/multidict_1676825314105/work
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.1
nest-asyncio==1.5.6
notebook==7.0.0
notebook_shim==0.2.3
numpy @ file:///work/mkl/numpy_and_numpy_base_1682952636358/work
oauthlib @ file:///croot/oauthlib_1679489621486/work
opencv-python==4.8.0.74
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
overrides==7.3.1
packaging @ file:///croot/packaging_1678965309396/work
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.9.6
platformdirs==3.9.1
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.15.1
PyJWT @ file:///work/ci_py311/pyjwt_1676827385359/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.0.9
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.8.2
python-json-logger==2.0.7
python-qt-binding==0.4.4
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qtconsole==5.4.3
QtPy==2.3.1
readme-renderer==40.0
referencing==0.30.0
requests @ file:///croot/requests_1690400202158/work
requests-oauthlib==1.3.0
requests-toolbelt==1.0.0
resource_retriever==1.12.7
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.4.2
rosapi==0.11.16
rosbag==1.16.0
rosboost-cfg==1.15.8
rosbridge-library==0.11.16
rosbridge-server==0.11.16
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rpds-py==0.9.2
rqt-image-view==0.4.17
rqt-moveit==0.5.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.14
rqt-rviz==0.7.0
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.11
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_joint_trajectory_controller==0.21.1
rqt_launch==0.4.9
rqt_logger_level==0.4.11
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_runtime_monitor==0.5.9
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_tf_tree==0.6.3
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
rviz==1.14.20
scipy==1.10.1
SecretStorage==3.3.3
Send2Trash==1.8.2
sensor-msgs==1.13.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
sniffio==1.3.0
soupsieve==2.4.1
srdfdom==0.6.4
stack-data==0.6.2
tensorboard @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/tensorboard_1682445826165/work/tensorboard-2.12.1-py3-none-any.whl
tensorboard-data-server @ file:///croot/tensorboard-data-server_1681498183723/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl
tensorboard-plugin-wit==1.6.0
tensorflow @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/tensorflow-base_1682961422577/work/tensorflow_pkg/tensorflow-2.12.0-cp311-cp311-linux_x86_64.whl
tensorflow-estimator @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/tensorflow-estimator_1682445976941/work/tensorflow_estimator-2.12.0-py2.py3-none-any.whl
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-object-detection-api==0.1.1
termcolor @ file:///work/ci_py311/termcolor_1676838860478/work
terminado==0.17.1
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.6
tf2-kdl==0.7.6
tf2-py==0.7.6
tf2-ros==0.7.6
tinycss2==1.2.1
topic-tools==1.16.0
tornado==6.3.2
traitlets==5.9.0
twine==4.0.2
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
tzdata==2023.3
urdfdom-py==0.4.6
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1686163155763/work
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug @ file:///croot/werkzeug_1679489717957/work
widgetsnbextension==4.0.8
wrapt @ file:///work/ci_py311/wrapt_1676827586170/work
xacro==1.14.16
yarl @ file:///work/ci_py311/yarl_1676827604591/work
zipp==3.16.2
